

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



body
{

	background: -webkit-linear-gradient(to left,#2d4c60, #46545e);
	background: linear-gradient(to left,#2d4c60, #46545e);
  color: #a59898;

}














